{
  "singleQuote": true,
  "jsxSingleQuote": true,
  "trailingComma": "es5",
  "arrowParens": "avoid",
  "svelteSortOrder": "options-scripts-markup-styles",
  "svelteStrictMode": true,
  "svelteBracketNewLine": true,
  "svelteAllowShorthand": true
}
